.BidBuyerDetails{
    background-color: rgb(236, 234, 234);
    display: flex;
    width: auto;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    .UserImage{
        width: auto;
        height: 80px;
    }
    .UserName{
       font-size: 20px;
       padding: 4px;
    }
    .UserEmail{
        font-size: 15px;
        padding: 6px;
    }
    .BidSection{
        height:45px;
        background-color: #9553ee;
        color: white;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        display: flex;
        align-items: center;
    }
}