.BidBuyerDetails{
    background-color: rgb(236, 234, 234);
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border-radius: 10px;
    margin: 10px 0;
    .UserImage{
        width: auto;
        height: 40px;
        border-radius: 50%;
        margin-left: 10px;
    }
    .UserName{
       font-size: 15px;
       padding: 4px;
    }
    .UserEmail{
        font-size: 12px;
        padding: 6px;
    }
    .BidSection{
        padding: 15px 10px;
        border-radius: 10px;
        background-color: #9553ee;
        color: white;
        display: flex;
        align-items: center;
    }
}