.loginPage {
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    .brand {
        display: flex;
        align-items: center;

        img {
            height: 50px;
            align-self: center;
            margin-right: 10px;
        }

        .siteName {
            text-align: center;
            font-size: 8vh;
            color: #9553EE;
            font-weight: bold;
        }
    }

    .signInHeading {
        text-align: center;
        margin-top: 60px;
        font-size: 5vh;
    }

    .loginOption {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        margin-top: 30px;
        align-items: center;
        border-radius: 20px;
        border: 2px solid #9553EE;
        width: fit-content;
        padding: 12px;

        img {
            margin: 0;
            width: 50px;
            height: 50px;
        }

        p {
            margin-left: 1vw;
            font-size: 3vh;
        }
    }

    .loginFooter {
        text-align: center;
        margin-top: 30vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }

}