.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  padding-right: 1vw;
  .brand {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      align-self: center;
      margin-right: 10px;
      padding-left: 10px;
    }

    .siteName {
      text-align: center;
      font-size: 6vh;
      color: #9553ee;
      font-weight: bold;
    }
  }
  .RightSidebar {
    display: flex;
    align-items: center;
   margin-right: 20px;
    align-self: center;
    border-color: #9553ee;
      p {
        font-size: 2.1vh;
        color: #9553ee;
        border-style: solid;
        width: fit-content;
        height: fit-content;
        padding:7px;
        border-width: 2px;
      }
      p:hover{
        background-color: #9553ee;
        color: white;
      }
    img {
      width: 30px;
      padding-right: 8px;
    }
  }
}
